@model IEnumerable<UniBlog.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h2>Cadastro de Post</h2>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ComentarioID)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Areas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuarios)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ComentarioID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Areas.AreaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuarios.UsuarioID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.PostId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.PostId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
